header,
main,
.footer-div {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

nav a {
  font-size: 15px;
  padding-top: 30px;
}

.cover-page button {
  font-size: 18px;
  padding: 15px 30px;
}

.cover-page .header-text {
  font-size: 40px;
}

.offer_slide img,
.offer_slide-kurslar img,
.offer_slide-ustozlar img,
.offer_slide-videolar iframe,
.mijoz-img {
  height: 180px;
}

.logo-wrapper .logo-text {
  margin-top: 10px;
}

.cover-page p {
  font-size: 24px;
}

.desk-logo {
  width: 100px;
  height: 100px;
}

.logo span {
  padding-top: 27px;
}