header {
  background-color: transparent;
  position: relative;
  padding-top: 15px;
}

header,
main,
footer {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.logo_phone {
  display: none;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
}
.desk-logo {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.logo {
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color: black;
  padding: 14px 5px;
  font-size: 11.8px;
}

nav a:last-child {
  padding-right: 0;
}

.desktop-links {
  float: right;
  display: inline-flex;
}

.logo span {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  width: 160px;
  padding-top: 10px;
}

.cover-page {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 60% 40%;
  -ms-grid-columns: 60% 40%;
}

.cover-page h1,
.cover-page p {
  text-align: left;
}

.cover-page button {
  float: left;
}

.cover-page img {
  width: 90%;
  margin-top: -50px;
}

.cover-img {
  display: inline-block;
}

.carusel-inner,
.carusel-inner-kurslar,
.carusel-inner-ustozlar {
  width: 100% !important;
}

.offer_slide:first-child,
.offer_slide-kurslar:first-child,
.offer_slide-ustozlar:first-child {
  padding-right: 10px;
}

.offer_slide:nth-child(2),
.offer_slide-kurslar:nth-child(2),
.offer_slide-ustozlar:nth-child(2) {
  padding: 0 10px;
}

.offer_slide:last-child,
.offer_slide-kurslar:last-child,
.offer_slide-ustozlar:last-child {
  padding-left: 10px;
}

.offer_slide,
.offer_slide-kurslar,
.offer_slide-ustozlar {
  width: 33.33%;
}

.offer_slide img,
.offer_slide-kurslar img,
.offer_slide-ustozlar img {
  height: 115px;
}

.offer_slide-kurslar p,
.offer_slide-ustozlar p {
  font-size: 14px;
}

.logo-text {
  font-size: 20px;
}

#menu-container {
  display: none;
}

.logo ul.desktop-links {
  display: inline;
}