@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2%;
}
header{
  width: 100%;
}

body {
  background-image: linear-gradient(124.06deg, #ECFEFA 9.47%, #BEE9FF 29.35%, #DBEAFF 60.79%, #F3DBFF 85.49%);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.header-text {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.button {
  background-color: var(--dark_blue);
  border: 0;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
}

.content-header {
  line-height: 40px;
  color: var(--dark_blue);
  font-weight: 700;
}

.contents img {
  width: 100%;
  margin: auto;
}

figcaption h4 {
  font-size: 16px;
  font-weight: 700;
}

figcaption p {
  float: right;
  font: 11px;
}

.carusel-container {
  overflow: hidden;
}

.carusel-inner {
  display: inline-flex;
  transition: 0.5s ease;
}

.offer_slide {
  width: 100%;
}

.controller {
  width: 60px;
  height: 1px;
  background-color: var(--grey);
  margin: 0 auto;
  transform: translateY(-50%);
}

.line1, .line2, .line3 {
  width: 20px;
  height: 3px;
  cursor: pointer;
  transform: translateX(-50%);
}

#active {
  width: 20px;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  background-color: var(--grey);
  transition: .5s ease;
  transform: translateX(-50%);
  top: 0;
}
